body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    margin-top: 10%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 35px;
    background-color: rgb(51, 47, 47);
    width: 340px;
    flex: 0 1 auto;
}
.display {
    margin: 5px;
    height: 90px;
    padding: 15px 20px 0px 0px;
    text-align: end;
    font-size: 60px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    flex: 3;
    flex-flow: row wrap;
}
.numbers {
    display: flex;
    flex-direction: row;
    margin: 5px;
}
button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
#btn {
    margin: 5px;
    width: 60px;
    height: 60px;
    flex: 1;
    font-size: 30px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    transition: all 0.1s;
}
#btn:hover {
    color: rgb(0, 255, 42);
    font-size: 40px;
}
