body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border: 2px solid black;
    width: 600px;
    height: fit-content;
    margin-top: 5%;
    padding: 10px;
    background-color: black;
}

.screen {
    border: 2px solid black;
    padding: 40px 8px 0px 0px;
    font-size: 80px;
    text-align: end;
    background-color: rgb(30, 30, 255);
}

.row-one {
    padding: 5px 0px 2px  0px;
    display: flex;
}

.num {
    border: 2px solid black;
    border-radius: 11px;
    padding: 5px;
    margin: 5px;
    font-size: 80px;
    flex: 1;
    text-align: center;
    background-color: aliceblue;
}

button {
    width: fit-content;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@media only screen and (max-width: 400px) {
    body {
      background-color: lightblue;
    }
    .container {
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        width: 600px;
        height: fit-content;
        margin-top: 0%;
        padding: 10px;
        background-color: black;
    }
    .num {
        border: 2px solid black;
        border-radius: 11px;
        padding: 5px;
        margin: 5px;
        font-size: 50px;
        flex: 1;
        text-align: center;
        background-color: aliceblue;
    }
  }
