body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border: 2px solid black;
    width: 600px;
    height: 700px;
    margin-top: 5%;
    padding: 10px;
}

.screen {
    border: 2px solid black;
    padding: 40px 8px 0px 0px;
    font-size: 80px;
    text-align: end;
}

.row-one {
    padding: 5px 0px 2px  0px;
    display: flex;
}

.num {
    border: 2px solid black;
    padding: 5px;
    font-size: 80px;
    flex: 1;
    text-align: center;
}

